.app__header{
    background-color: var(--color-black);
    
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 95px;
}

.app__wrapper_img img{
    width: 80%;
}